<template>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
            <button class="btn btn-primary" v-on:click="filter">Search</button>
            <button class="btn btn-block" v-on:click="reset">Reset</button>
        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                filterText: ''
            }
        },
        methods: {
            filter() {

            },
            reset() {
                this.filterText = '';
            }
        }
    }

</script>