<template>
    <div id="table-list">
        <vuetable
            ref="vuetable"
            :api-url="listData.url"
            :fields="listData.fields"
            :per-page="listData.perPage"
            :append-params="filters"
            rowClass=""
            table-class="table"
            loading-class="loading"
            pagination-path=""
            @vuetable:pagination-data="onPaginationData"
        >
            <template slot="actions" scope="props">
                <div class="custom-actions">
                    <ul>
                        <button v-if="listData.actions.edit.show" class="btn btn-primary" @click="onAction('edit-item', props.rowData, props.rowIndex)">
                            Edit
                        </button>
                        <button v-if="listData.actions.delete.show" class="btn btn-danger" @click="onAction('delete-item', props.rowData, props.rowIndex)">
                            Delete
                        </button>
                        <template v-if="listData.actions.additional">
                            <template v-for="(params, action) in listData.actions.additional">
                                <button class="btn btn-primary" @click="onAction(action, props.rowData, props.rowIndex)" :aria-label="params.title">
                                    {{params.title}}
                                </button>
                            </template>
                        </template>
                    </ul>
                </div>
            </template>
        </vuetable>
        <div class="row">
            <div class="col-md-6 text-left">
                <vuetable-pagination-info ref="paginationInfo" info-template="Displaying {from} to {to} of {total} items"></vuetable-pagination-info>
            </div>
            <div class="col-md-6 text-right">
                <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage"></vuetable-pagination>
            </div>
        </div>
    </div>
</template>

<script>

    //import VueResource  from 'vue-resource';
    import Vuetable from 'vuetable-2/src/components/Vuetable.vue';
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination.vue';
    import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo.vue';

    export default {
        dependencies: [ 'swal', 'axios' ],
        data() {
            return {
                filters: {
                    q: ''
                },
//                vuetableParams: {}
            }
        },
        props: {
            listData: {
                type: Object,
                required: true
            }
        },
        beforeMount: function() {
            /** @todo dodac podstawowe wartosci **/
            this.listData = Object.assign( this.listData, {
                perPage: 10
            } );

            this.addActionColumn();
        },
        mounted: function () {


        },
        methods: {
            /**
             * Add actions column when some action is set on true or are added any additional actions
             */
            addActionColumn: function() {
                let showActionsColumn = false;
                let actions = this.listData.actions;

                for (let action in this.listData.actions ) {
                    if (action === 'additional' || actions[action].show === true) {
                        showActionsColumn = true;
                    }
                }

                if (showActionsColumn) {
                    this.listData.fields.push({
                        name: '__slot:actions',
                        title: 'Slot Actions',
                    });
                }
            },

            /** @todo napisac opcje */
            onAction: function(action, data, index) {

                switch(action) {
                    case 'edit-item':

                        let url = this.listData.actions.edit.url;
                        url = url.replace( "%{id}", data.id );
                        window.location = url;

                        break;
                    case 'delete-item':

                        this.swal({
                            title: 'Are you sure?',
                            text: 'You are sure to delete this item ?',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Yes, delete it!',
                            cancelButtonText: 'No, keep it'
                        }).then((result) => {

                            let url = this.listData.actions.delete.url;
                            url = url.replace( "%{id}", data.id );

                            if (result.value) {
                                this.axios.delete(url).then((response) => {
                                    if (response.data.success) {
                                        this.$refs.vuetable.refresh();
                                        this.swal( 'Delete success full!', 'You removed it!', 'success' );
                                    } else {
                                        this.swal( 'Error!', response.data.error, 'error' );
                                    }
                                });
                            }

                        });

                        break;
                    default:
                        if (typeof this.listData.actions.additional !== 'undefined') {
                            let additionalActions = this.listData.actions.additional;
                            if (typeof additionalActions[action].method === 'function') {
                                additionalActions[action].method(data, index, this);
                            } else {
                                throw "Action " + action + " is not defined.";
                            }
                        }
                        break;
                }

            },
            pagination: function() {

            },
            reset: function() {

            },
            filter: function() {
//                console.log('123');
//                this.filters = {
//                    q: this.filter.q
//                }
                this.$nextTick(() => { this.$refs.vuetable.refresh() });
            },
            onPaginationData (paginationData) {
                this.$refs.pagination.setPaginationData(paginationData)
            },
            onChangePage (page) {
                this.$refs.vuetable.changePage(page)
            }
        },
        components: {
            'vuetable': Vuetable,
            'vuetable-pagination': VuetablePagination,
            'vuetable-pagination-info': VuetablePaginationInfo
        }
    }

</script>