
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "base";

@import "components/panels";

@import "sections/site-menu";
@import "sections/site-menubar";
@import "layouts/site-menubar-unfold";
@import "layouts/responsive-phone";
@import "sections/page";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
