//== Site Container
//
//##
$site-container-width-xxl:  map-get($grid-breakpoints, "xxl");
$site-container-width-xl:   map-get($grid-breakpoints, "xl");
$site-container-width-lg:   map-get($grid-breakpoints, "lg");
$site-container-width-md:   map-get($grid-breakpoints, "md");

//== Site Navbar
//
//##
$brand-font-family:                     $headings-font-family;
$site-navbar-height:                    remToPx($navbar-height);
$site-navbar-color:                     $gray;
$site-navbar-hover-color:               $gray-dark;
$site-navbar-brand-bg:                  $gray-darkest;

$site-navbar-header-bg:                 $brand-primary;
$site-navbar-header-color:              $inverse;

$site-navbar-brand-color:               $inverse;

$site-navbar-header-toolbar-hover-color: $inverse;
$site-navbar-header-toolbar-hover-bg:    transparent;



//== Site Menubar
//
//##
$site-menubar-bg: $gray-800 !default;
$site-menubar-unfold-width: 260px !default;
$site-menubar-fold-width: 90px !default;
$site-menubar-padding-horizontal: 30px !default;
$site-menubar-color: rgba($gray-400, (90/100)) !default;
$site-menubar-font-family: $headings-font-family !default;
$site-menubar-shadow: 0 2px 4px rgba(0, 0, 0, .08) !default;
$site-menubar-section-title-color: $gray-500 !default;
$site-menubar-footer-height: 76px !default;
$site-menubar-footer-color: $gray-500 !default;
$site-menubar-footer-link-bg: rgb(33, 41, 46) !default;
$site-menubar-footer-link-hover-bg: rgb(30, 36, 39) !default;

//== Site Menubar dark
//
//##
$site-menubar-dark-color:                rgba($gray, (90/100));
$site-menubar-dark-bg:                   $gray-base;
$site-menubar-dark-shadow:               $site-menubar-shadow;
$site-menubar-dark-footer-link-bg:         rgb(33, 41, 46);
$site-menubar-dark-footer-link-hover-bg:   rgb(30, 36, 39);

//== Site Menubar Fold
//
//##
$site-menubar-fold-width:           70px;
$site-menubar-fold-sub-width:       240px;
$site-menubar-fold-sub-bg:          $inverse;
$site-menubar-fold-sub-shadow:      1px 1px 4px 0px rgba(0,0,0,.1);

//== Site Menubar Hover
//
//##
$site-menubar-hover-transform:      -240px;

//== Site Menu
//
//##
$site-menu-top-weight:              $font-weight-medium;

$site-menu-top-hover-color:         $gray-darkest;
$site-menu-top-hover-bg:            rgba($gray-base, (5/100));
// $site-menu-top-hover-bg:            rgba($color-primary-800, .05);

// $site-menu-top-active-head-bg:     $color-purple;
// $site-menu-top-active-head-bg:     rgba($color-primary-600, (10/100)));
$site-menu-top-active-head-bg:      transparent;
$site-menu-top-active-bg:           $site-menu-top-hover-bg;
$site-menu-top-active-border-color: rgba(0,0,0,.04);
$site-menu-top-active-color:        $site-menu-top-hover-color;

$site-menu-top-open-head-bg:        transparent;
//$site-menu-top-open-bg:             transparent;
$site-menu-top-open-bg:             $site-menu-top-active-bg;
$site-menu-top-open-color:          $site-menu-top-active-color;
$site-menu-top-height:              38px;

$site-menu-sub-bg:                 transparent;
$site-menu-sub-color:              $site-menubar-color;
$site-menu-sub-hover-bg:           rgba(255, 255, 255, .02);
$site-menu-sub-hover-color:        $site-menu-top-hover-color;
$site-menu-sub-active-bg:          $site-menu-top-hover-bg;
$site-menu-sub-active-color:       $site-menu-top-hover-color;
$site-menu-sub-open-bg:            $site-menu-top-hover-bg;
$site-menu-sub-open-color:         $site-menu-sub-active-color;
$site-menu-sub-height:             34px;

$site-menu-category-color:         $gray-dark;

$site-menu-has-sub-border-color:   rgba(0, 0, 0, .06);
$site-menu-padding-horizontal:     $site-menubar-padding-horizontal;

//== Site Menubar light
//
//##
$site-menubar-dark-color:                rgba($gray, (90/100));
$site-menubar-dark-bg:                   $gray-base;

$site-menubar-dark-footer-link-bg:         rgb(33, 41, 46);
$site-menubar-dark-footer-link-hover-bg:   rgb(30, 36, 39);

//== Site Menu light
//
//##
$site-menu-dark-top-open-head-bg:      transparent;
$site-menu-dark-top-hover-bg:          rgba(255, 255, 255, .02);
$site-menu-dark-top-active-bg:         darken($site-menubar-dark-bg, 1%);
$site-menu-dark-top-open-bg:           $site-menu-dark-top-active-bg;
$site-menu-dark-sub-active-bg:         rgba(0, 0, 0, .06);
$site-menu-dark-sub-open-bg:           $site-menu-dark-sub-active-bg;
$site-menu-dark-has-sub-border-color:  $site-menu-dark-sub-active-bg;

$site-menu-dark-top-hover-color:       rgba($inverse, (80/100));
$site-menu-dark-top-active-color:      $inverse;
$site-menu-dark-sub-active-color:      $inverse;
$site-menu-dark-sub-open-color:        $site-menu-dark-sub-active-color;
$site-menu-dark-sub-hover-color:       $site-menu-dark-top-hover-color;


//== Site Sidebar
//
//##
$site-sidebar-width: 300px;
$site-sidebar-z-index: ($zindex-navbar + 10);
$site-sidebar-nav-height: 90px;
$site-sidebar-padding-horizontal: 30px;

//== Page
//
//##
$page-bg:                 #eceff1;

$page-centered-max-width: 1400px;
$page-vertical-padding:   30px;
$page-horizontal-padding: 30px;

//== Page Header
//
//##
$page-header-bg:                        transparent;
$page-header-bordered-bg:               $inverse;
$page-header-vertical-padding:          30px;
$page-header-bordered-vertical-padding: 20px;


//== Page Aside
//
//##
$page-aside-padding-horizontal: 30px;
$page-aside-width:              260px;
$page-aside-md-width:           220px;
$page-aside-bg:                 $inverse;

//== Page Main
//
//##
$page-main-bg:                 $inverse;

//== Site Footer
//
//##
$site-footer-vertical-padding:    10px;
$site-footer-bg:                  $inverse;
$site-footer-divider-color:       $gray-lighter;
$site-footer-height:              44px;
$site-footer-xs-height:     66px;
$site-footer-shadow:      inset 0 0 $site-footer-height rgba(0, 0, 0, .02);

//== Layout Boxed
//
//##
$layout-boxed-width: 1320px;
$layout-boxed-bg:    $gray-lighter;

// Panels
// ======
//
$panel-bg:                       #fff;
$panel-padding-horizontal:       30px;
$panel-body-padding-vertical:    30px;
$panel-body-padding:             $panel-body-padding-vertical $panel-padding-horizontal;
$panel-heading-padding-vertical: 20px;
$panel-heading-padding:          $panel-heading-padding-vertical $panel-padding-horizontal;
$panel-footer-padding-vertical:  15px;
$panel-footer-padding:           0 $panel-padding-horizontal $panel-footer-padding-vertical;
$panel-border-radius:            $border-radius-large;
$panel-border:                   $border-color-base;

//** Border color for elements within panels
$panel-inner-border:          $border-color-base;
$panel-footer-bg:             transparent;

$panel-default-text:          $text-color;
$panel-default-border:        $border-color-base;
$panel-default-heading-bg:    $brand-default;

$panel-primary-text:          #fff;
$panel-primary-border:        $brand-primary;
$panel-primary-heading-bg:    $brand-primary;

$panel-success-text:          $state-success-text;
$panel-success-border:        $state-success-border;
$panel-success-heading-bg:    $state-success-bg;

$panel-info-text:             $state-info-text;
$panel-info-border:           $state-info-border;
$panel-info-heading-bg:       $state-info-bg;

$panel-warning-text:          $state-warning-text;
$panel-warning-border:        $state-warning-border;
$panel-warning-heading-bg:    $state-warning-bg;

$panel-danger-text:           $state-danger-text;
$panel-danger-border:         $state-danger-border;
$panel-danger-heading-bg:     $state-danger-bg;

$panel-shadow:                none;
// ======



//== Site Navbar
//
//##
$brand-font-family: $headings-font-family;
$site-navbar-height: remToPx($navbar-height);
$site-navbar-color: $gray-400;
$site-navbar-hover-color: $gray-500;
$site-navbar-brand-bg: $gray-700;
$site-navbar-header-bg: $color-blue-600;
$site-navbar-header-color: $inverse;
$site-navbar-brand-color: $inverse;

//== Site Menubar
//
//##
$site-menubar-bg: $gray-800;
$site-menubar-unfold-width: 260px;
$site-menubar-fold-width: 90px;
$site-menubar-padding-horizontal: 30px;
$site-menubar-color: rgba($gray-400, (90/100));
$site-menubar-font-family: $headings-font-family;
$site-menubar-shadow: 0 2px 4px rgba(0, 0, 0, .08);
$site-menubar-section-title-color: $gray-500;
$site-menubar-footer-height: 76px;
$site-menubar-footer-color: $gray-500;
$site-menubar-footer-link-bg: rgb(33, 41, 46);
$site-menubar-footer-link-hover-bg: rgb(30, 36, 39);

//== Site Menu
//
//##
$site-menu-top-weight: $font-weight-bold;
$site-menu-top-hover-color: rgba($inverse, .8);
$site-menu-top-hover-bg: rgba(255, 255, 255, .02);

// $site-menu-top-active-head-bg:     $color-purple;
// $site-menu-top-active-head-bg:     rgba($color-primary-600, (10/100));
$site-menu-top-active-head-bg: transparent;
$site-menu-top-active-bg: darken($site-menubar-bg, 1%);
$site-menu-top-active-border-color: rgba(0, 0, 0, .04);
$site-menu-top-active-color: $inverse;
$site-menu-top-open-head-bg: transparent;
//$site-menu-top-open-bg:             transparent;
$site-menu-top-open-bg: $site-menu-top-active-bg;
$site-menu-top-open-color: $site-menu-top-active-color;
$site-menu-top-height: 38px;
$site-menu-top-font-size: 14px;
$site-menu-sub-bg: transparent;
$site-menu-sub-color: $site-menubar-color;
$site-menu-sub-hover-bg: rgba(255, 255, 255, .02);
$site-menu-sub-hover-color: $site-menu-top-hover-color;
$site-menu-sub-active-bg: rgba(0, 0, 0, .06);
$site-menu-sub-active-color: $inverse;
$site-menu-sub-open-bg: $site-menu-sub-active-bg;
$site-menu-sub-open-color: $site-menu-sub-active-color;
$site-menu-sub-height: 34px;
$site-menu-category-color: $gray-500;
$site-menu-has-sub-border-color: rgba(0, 0, 0, .06);
$site-menu-padding-horizontal: $site-menubar-padding-horizontal;


//== Site Menubar Fold
//
//##
$site-menubar-fold-nav-height: 60px;
$site-menubar-fold-sub-bg: $site-menu-top-active-bg;
$site-menubar-fold-sub-width: 240px;
$site-menubar-fold-divider-bg: darken($site-menubar-bg, 1%);

//Light
// $site-menubar-light-fold-sub-bg:     rgb(243, 248, 251);
$site-menubar-light-fold-sub-bg: $color-white;
$site-menubar-light-fold-divider-bg: rgba($color-blue-800, (5/100));
$site-menubar-light-fold-box-shadow: 2px 1px 2px rgba(0, 0, 0, .08);
$site-menubar-light-fold-sub-border-color: #f7f7f7;
//== Site Menubar Fold Alt
//
//##
$site-menubar-fold-top-active-bg: $gray-700;

//Light
$site-menubar-light-fold-top-active-bg: $color-blue-100;
$site-menubar-light-fold-alt-box-shadow: none;



//== Site Menubar light
//
//##
$site-menubar-light-color: rgba($gray-500, (90/100));
$site-menubar-light-bg: $inverse;
$site-menubar-light-shadow: $site-menubar-shadow;
$site-menubar-light-footer-link-bg: $gray-200;
$site-menubar-light-footer-link-hover-bg: darken($gray-200, 5%);

//== Site Menu light
//
//##
$site-menu-light-top-open-head-bg: transparent;
// $site-menu-light-top-hover-bg:          rgba($color-primary-800, (5/100));
$site-menu-light-top-hover-bg: rgba($color-primary-800, (4/100));
$site-menu-light-top-open-bg: $site-menu-light-top-hover-bg;
// $site-menu-light-top-active-bg:         $site-menu-light-top-hover-bg;
$site-menu-light-top-active-bg: rgba($color-primary-800, (7/100));
$site-menu-light-sub-active-bg: rgba($color-primary-800, (3/100));
$site-menu-light-sub-open-bg: rgba($color-primary-800, (3/100));
$site-menu-light-has-sub-border-color: $site-menu-light-top-hover-bg;
$site-menu-light-top-hover-color: $color-primary-600;
$site-menu-light-top-active-color: $site-menu-light-top-hover-color;
$site-menu-light-sub-active-color: $site-menu-light-top-hover-color;
$site-menu-light-sub-open-color: $site-menu-light-sub-active-color;
$site-menu-light-sub-hover-color: $site-menu-light-top-hover-color;


//== Site Grid Menu
//
//##
$site-gridmenu-color: $gray-400;
$site-gridmenu-hover-color: $inverse;
$site-gridmenu-bg: $gray-800;
$site-gridmenu-hover-bg: rgba($inverse, (2/100));
$site-gridmenu-toggle-size: $font-size-base;

//== Site Sidebar
//
//##
$site-sidebar-width: 300px;
$site-sidebar-z-index: ($zindex-navbar + 10);
$site-sidebar-nav-height: 90px;
$site-sidebar-padding-horizontal: 30px;

//== Page
//
//##
$page-bg: #f1f4f5;
$page-vertical-padding: 30px;
$page-horizontal-padding: 30px;

//== Page Header
//
//##
$page-header-bg: transparent;
$page-header-bordered-bg: $inverse;
$page-header-vertical-padding: 30px;
$page-header-bordered-vertical-padding: 20px;


//== Page Aside
//
//##
$page-aside-padding-horizontal: 30px;
$page-aside-width: 260px;
$page-aside-md-width: 220px;
$page-aside-bg: $inverse;

//== Site Footer
//
//##
$site-footer-vertical-padding: 10px;
$site-footer-bg: rgba(0, 0, 0, .02);
$site-footer-divider-color: $gray-200;
$site-footer-height: 44px;
$site-footer-xs-height: 66px;

//== Layout Boxed
//
//##
$layout-boxed-width: 1320px;
$layout-boxed-bg: $gray-200;

//== Panels
//
///##
$panel-bg: #fff;
$panel-padding-horizontal: 30px;
$panel-body-padding-vertical: 30px;
$panel-body-padding: $panel-body-padding-vertical $panel-padding-horizontal;
$panel-heading-padding-vertical: 20px;
$panel-heading-padding: $panel-heading-padding-vertical $panel-padding-horizontal;
$panel-footer-padding-vertical: 15px;
$panel-footer-padding: 0 $panel-padding-horizontal $panel-footer-padding-vertical;
$panel-border-radius: $border-radius-large;
$panel-border: $border-color-base;

//** Border color for elements within panels
$panel-inner-border: $border-color-base;
$panel-footer-bg: transparent;
$panel-default-text: $text-color;
$panel-default-border: $border-color-base;
$panel-default-heading-bg: $brand-default;
$panel-primary-text: #fff;
$panel-primary-border: $brand-primary;
$panel-primary-heading-bg: $brand-primary;
$panel-success-text: $state-success-text;
$panel-success-border: $state-success-border;
$panel-success-heading-bg: $state-success-bg;
$panel-info-text: $state-info-text;
$panel-info-border: $state-info-border;
$panel-info-heading-bg: $state-info-bg;
$panel-warning-text: $state-warning-text;
$panel-warning-border: $state-warning-border;
$panel-warning-heading-bg: $state-warning-bg;
$panel-danger-text: $state-danger-text;
$panel-danger-border: $state-danger-border;
$panel-danger-heading-bg: $state-danger-bg;
$panel-shadow: none;
