// Variables
// =============================================================================
// Copy settings from this file into the provided `var-customs.scss` to override

// Table of Contents
//
// Colors
// Options
// Spacing
// Body
// Links
// Typography
// Iconography
// Components
// Tables
// Buttons
// Forms
// Dropdowns
// Z-index master list
// Grid columns
// Grid breakpoints
// Container sizes
// Navbar
// Navs
// Pagination
// Jumbotron
// Form states and alerts
// Cards
// Tooltips
// Popovers
// Tags
// Modals
// Alerts
// Progress bars
// List group
// Badges
// Breadcrumbs
// Carousel
// Close
// Code
// Shadow
// avatar

// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.


// Colors
// ======
//

$transparent:       rgba(0, 0, 0, 0);

$color-black:       #000;
$color-white:       #fff;

$color-red:         $color-red-600 !default;
$color-pink:        $color-pink-600 !default;
$color-purple:      $color-purple-600 !default;
$color-indigo:      $color-indigo-600 !default;
$color-blue:        $color-blue-600 !default;
$color-cyan:        $color-cyan-600 !default;
$color-teal:        $color-teal-600 !default;
$color-green:       $color-green-600 !default;
$color-light-green: $color-light-green-600 !default;
$color-yellow:      $color-yellow-600 !default;
$color-orange:      $color-orange-600 !default;
$color-brown:       $color-brown-600 !default;
$color-grey:        $color-grey-600 !default;
$color-blue-grey:   $color-blue-grey-600 !default;

// Primary color
//
$color-primary: 'indigo' !default;

$color-primary-list: map-get($color-lists, $color-primary) !default;

$color-primary-50: map-get($color-primary-list, "50") !default;
$color-primary-100: map-get($color-primary-list, "100") !default;
$color-primary-200: map-get($color-primary-list, "200") !default;
$color-primary-300: map-get($color-primary-list, "300") !default;
$color-primary-400: map-get($color-primary-list, "400") !default;
$color-primary-500: map-get($color-primary-list, "500") !default;
$color-primary-600: map-get($color-primary-list, "600") !default;
$color-primary-700: map-get($color-primary-list, "700") !default;
$color-primary-800: map-get($color-primary-list, "800") !default;
$color-primary-900: map-get($color-primary-list, "900") !default;

// Start with assigning color names to specific hex values

$white:  $color-white;

// Gray color
//
// $gray-base:     $color-grey-900;
// $gray-darkest:  $color-grey-800;
// $gray-darker:   $color-grey-700;
// $gray-dark:     $color-grey-600;
// $gray:          $color-grey-500;
// $gray-light:    $color-grey-400;
// $gray-lighter:  $color-grey-300;
// $gray-lightest: $color-grey-200;

$gray-100: $color-grey-100;
$gray-200: $color-grey-200;
$gray-300: $color-grey-300;
$gray-400: $color-grey-400;
$gray-500: $color-grey-500;
$gray-600: $color-grey-600;
$gray-700: $color-grey-700;
$gray-800: $color-grey-800;
$gray-900: $color-grey-900;

$gray-base:     $gray-900 !default;
$gray-darkest:  $gray-800 !default;
$gray-darker:   $gray-700 !default;
$gray-dark:     $gray-600 !default;
$gray:          $gray-500 !default;
$gray-light:    $gray-400 !default;
$gray-lighter:  $gray-300 !default;
$gray-lightest: $gray-200 !default;

$black:  $color-black;

$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$blue: $color-blue;
$indigo: $color-indigo;
$purple: $color-purple;
$pink: $color-pink;
$red: $color-red;
$orange: $color-orange;
$yellow: $color-yellow;
$green: $color-green;
$teal: $color-teal;
$cyan: $color-cyan;

$colors: () !default;
$colors: map-merge((
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-400,
  "gray-dark":  $gray-500
), $colors);

$primary: $color-primary-500;
$secondary: $color-grey-500;
$success: $color-green-500;
$info: $color-cyan-500;
$warning: $color-orange-500;
$danger: $color-red-500;
$light: $gray-100;
$dark: $gray-800;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
), $theme-colors);

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8%;
// --v4b-end

$inverse:               $color-white !default;

$brand-inverse:         $gray-dark !default;

// Brand color
//
$brand-default:         $gray-lighter;
$brand-default-hover:   $gray-lightest;
$brand-default-active:  $gray-light;
$brand-default-100:     $color-grey-100;

$brand-primary:         $color-primary-500;
$brand-primary-hover:   $color-primary-400;
$brand-primary-active:  $color-primary-600;
$brand-primary-400:     $color-primary-400;
$brand-primary-100:     $color-primary-100;

$brand-success:         $color-green-500;
$brand-success-hover:   $color-green-400;
$brand-success-active:  $color-green-600;
$brand-success-400:     $color-green-400;
$brand-success-100:     $color-green-100;

$brand-info:            $color-cyan-500;
$brand-info-hover:      $color-cyan-400;
$brand-info-active:     $color-cyan-600;
$brand-info-400:        $color-cyan-400;
$brand-info-100:        $color-cyan-100;

$brand-warning:         $color-orange-500;
$brand-warning-hover:   $color-orange-400;
$brand-warning-active:  $color-orange-600;
$brand-warning-400:     $color-orange-400;
$brand-warning-100:     $color-orange-100;

$brand-danger:          $color-red-500;
$brand-danger-hover:    $color-red-400;
$brand-danger-active:   $color-red-600;
$brand-danger-400:      $color-red-400;
$brand-danger-100:      $color-red-100;

$brand-dark:            $gray-darker;
$brand-dark-hover:      $gray-dark;
$brand-dark-active:     $gray-darkest;
$brand-dark-100:        $color-blue-100;

$color-tab-focus:       rgba($brand-primary, (60/100));

// Text color
//
$title-color:           $gray-darkest !default;
$subtitle-color:        $gray-darker !default;
$text-color:            $gray-dark !default;
$prompt-color:          $gray !default;

// Status color
//
$active-color-base:     $color-primary-700;
$normal-color-base:     $color-primary-600;
$hover-color-base:      $color-primary-500;
$bg-color-base:         $gray-lightest;
$disabled-color-base:   $gray-light;

// box shadow
// $box-shadow-1: 0 1px 4px 0 rgba(0,0,0,.1);
// $box-shadow-2: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
// $box-shadow-3: 0 5px 8px 0 rgba(0, 0, 0, 0.24);
// $box-shadow-4: 0 7px 10px 0 rgba(0, 0, 0, 0.22);
// $box-shadow-5: 0 9px 15px 0 rgba(0, 0, 0, 0.2);


// Options
// =======
// Quickly modify global styling by enabling or disabling optional features.
//
$enable-caret: true;//beta2 add
$enable-rounded:            true;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;

// Spacing
// =======
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
//
$spacer:                     pxToRem(16px);
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

// Body
// ====
// Settings for the `<body>` element.
//
$body-bg:               $color-white;
$body-color:            $gray-dark;

// Links
// =====
//
$link-color:            $normal-color-base;
$link-hover-color:      $hover-color-base;
$link-active-color:     $active-color-base;

$link-decoration:       none;
$link-hover-decoration: underline;

// Paragraphs
// ==========
// Style p element.
//
$paragraph-margin-bottom:   1rem;

// Border
// ======
//
$border-width:               1px;
$border-color:               $gray-lighter;
$border-color-base:          $border-color;

// Grid breakpoints
// ================
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
//
$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 480px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / desktop
  xl: 1200px,
  // Extra large screen / wide desktop
  xxl: 1600px
);
@include assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include assert-starts-at-zero($grid-breakpoints);

// Container sizes
// ===============
// Define the maximum width of `.container` for different screen sizes.
//
$container-max-widths: (
  sm: 606px,
  md: 750px,
  lg: 970px,
  xl: 1170px,
  xxl: 1310px
);
@include assert-ascending($container-max-widths, "$container-max-widths");

// 30 + or - ?
// sm: 576 + 30
// md: 720 + 30
// lg: 940 + 30
// xl: 1140 + 30
// xxl: 1310 + 30

// Grid columns
// ============
// Define your custom responsive grid.
//
//** Number of columns in the grid.
$grid-columns:              12;

//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         pxToRem(30px);
$grid-lg-gutter-width:      pxToRem(50px);

// $grid-gutter-widths: (
//   xs: $grid-gutter-width,
//   sm: $grid-gutter-width,
//   md: $grid-gutter-width,
//   lg: $grid-gutter-width,
//   xl: $grid-gutter-width,
//   xxl: $grid-gutter-width
// );

// Typography
// ==========
// Font, line-height, and color for body text, headings, and more.
//
$use-font-family:            'Roboto';
$font-family-sans-serif:     $use-font-family, sans-serif;//rc--
// $font-family-sans-serif:     -apple-system, BlinkMacSystemFont, "Segoe UI", $use-font-family, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace:      "SFMono-Regular",Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-serif:          Georgia, "Times New Roman", Times, serif;
$font-family-base:           $font-family-sans-serif;

$font-size-root:             14px;

// $font-size-base:             1rem;
$font-size-base:             pxToRem(14px);

$font-size-lg:               pxToRem(18px);// ~18px
$font-size-sm:               pxToRem(12px);// ~12px
$font-size-xs:               pxToRem(10px);// ~10px

$font-size-large:            $font-size-lg;// ~18px for v3 plugin
$font-size-small:            $font-size-sm;// ~12px for v3 plugin

// $font-size-h1:               pxToRem(36px);// ~36px
// $font-size-h2:               pxToRem(30px);// ~30px
// $font-size-h3:               pxToRem(24px);// ~24px
// $font-size-h4:               pxToRem(18px);// ~18px
// $font-size-h5:               pxToRem(14px);
// $font-size-h6:               pxToRem(12px);// ~12px

$h1-font-size:               pxToRem(36px);// ~36px
$h2-font-size:               pxToRem(30px);// ~30px
$h3-font-size:               pxToRem(24px);// ~24px
$h4-font-size:               pxToRem(18px);// ~18px
$h5-font-size:               pxToRem(14px);
$h6-font-size:               pxToRem(12px);// ~12px

$font-size-icon:             pxToRem(16px);

$font-weight-override:       false;
$font-weight-light:          300;
$font-weight-normal:         400;
$font-weight-medium:         500;
$font-weight-bold:           700;

$font-weight-base:           $font-weight-normal;

// Unit-less `line-height` for use in components like buttons.
$line-height:                1.57142857;
$line-height-base:           $line-height; // 22/14 cumstom

// Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
// $line-height-computed:    round(($font-size-base * $line-height-base)); // font-size 14px~22px; 16px~24px;
$line-height-computed:       round((14px * $line-height-base)); // font-size 14px~22px; 16px~24px;

// By default, this inherits from the `<body>`.
$headings-margin-bottom:     ($spacer / 2);
$headings-font-family:       $font-family-base;
// $headings-font-weight:       $font-weight-light;
$headings-line-height:       1.2 ;
$headings-color:             $title-color;

$headings-text-shadow:       rgba(0, 0, 0, 0.15) 0 0 1px;
$headings-small-color:       $prompt-color;

//@import 'fonts/Roboto';

// Type
// ====
//
$lead-font-size:              pxToRem(20px);
$lead-font-weight:            300;

$small-font-size:             80%;
$text-muted:                  $gray-darker;

$abbr-border-color:           $gray-lighter;

//** Blockquote
$blockquote-small-color:      $prompt-color;
$blockquote-font-size:        ($font-size-base * 1.25);
$blockquote-border-color:     $border-color-base;
$blockquote-border-width:     .285rem; //~4px;

//** Horizontal line color.
$hr-border-color:             $border-color-base;
$hr-border-width:             $border-width;

$hr-border:                   $hr-border-color;

$mark-padding:                0.23rem;//~3.2px
// $mark-bg:                      $state-warning-bg;
$mark-bg:                     $brand-warning;

$dt-font-weight:              $font-weight-bold;

$kbd-box-shadow:              inset 0 -.1rem 0 rgba(0,0,0,.25);
$nested-kbd-font-weight:      $font-weight-bold;

$list-inline-padding:         5px;

// display
$display1-size:               6rem;
$display2-size:               5.5rem;
$display3-size:               4.5rem;
$display4-size:               3.5rem;

$display1-weight:             300;
$display2-weight:             300;
$display3-weight:             300;
$display4-weight:             300;

$display-line-height: $headings-line-height;
// Iconography
// ===========
// Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.
//
// Load fonts from this directory.
$icon-font-path:             "../fonts/";
// File name for all font files.
$icon-font-name:             "glyphicons-halflings-regular";
// Element ID within SVG icon file.
$icon-font-svg-id:           "glyphicons_halflingsregular";

$icon-color:                 rgba($gray-darkest, (40/100));
$icon-hover-color:           rgba($gray-darkest, (60/100));
$icon-active-color:          $gray-darkest;

$icon-alt-color:             rgba($gray-darkest, (60/100));
$icon-alt-hover-color:       rgba($gray-darkest, (80/100));
$icon-alt-active-color:      $gray-darkest;

// Components
// ==========
// Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
//

$padding-base-vertical:        pxToRem(6px);
$padding-base-horizontal:      pxToRem(15px);

$padding-large-vertical:       pxToRem(10px);
$padding-large-horizontal:     pxToRem(18px);

$padding-small-vertical:       pxToRem(6px);
$padding-small-horizontal:     pxToRem(13px);

$padding-xs-vertical:          pxToRem(1px);
$padding-xs-horizontal:        pxToRem(5px);

$line-height-large:            $line-height-lg; // for v3 plugin
$line-height-small:            $line-height-sm; // for v3 plugin

$line-height-lg:               (4 / 3); // extra decimals for Win 8.1 Chrome
$line-height-sm:               1.5;

$border-radius:                pxToRem(3px); // ~3px
$border-radius-lg:             pxToRem(4px); // ~4px
$border-radius-sm:             pxToRem(2px); // ~2px

$border-radius-base:           $border-radius; // for v3 plugin
$border-radius-large:          $border-radius-lg; // for v3 plugin
$border-radius-small:          $border-radius-sm; // for v3 plugin

// Global color for active items (e.g., navs or dropdowns).
// Global background color for active items (e.g., navs or dropdowns).
$component-active-color:       $inverse;
$component-active-bg:          $active-color-base;

// Width of the `border` for generating carets that indicator dropdowns.
$caret-width:                  pxToRem(4px);
$caret-width-lg:               pxToRem(5px);// --fish--v4a6-remove it;

$caret-width-base:             $caret-width;
$caret-width-large:            $caret-width-lg;

//--fish--v4a6-newadd
$transition-base:              all .2s ease-in-out;
$transition-fade:              opacity .15s linear;
$transition-collapse:          height .35s ease;
//--fish--end

// $border-color-base:            $gray-lighter;

$divider-color-base:           $gray-lighter;

//** Horizontal offset for forms and lists.
$component-offset-horizontal: 180px;

//** Page header border color
$page-header-border-color:    transparent;
//** Width of horizontal description list titles
$dl-horizontal-offset:        $component-offset-horizontal;

// Tables
// ======
// Customizes the `.table` component with basic values, each used across all table variations.
//
// Padding for `<th>`s and `<td>`s.
$table-cell-padding:            pxToRem(8px); // ~8px
$table-cell-padding-sm:         pxToRem(5px); // ~5px
// Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  pxToRem(5px); // ~5px

// Default background color used for all tables.
$table-bg:                      transparent;

// fish--v4beta2-add
$table-dark-bg:                 $gray-900;
$table-dark-accent-bg:          rgba($white, .05);
$table-dark-hover-bg:           rgba($white, .075);
$table-dark-border-color:       lighten($gray-900, 7.5%);
$table-dark-color:              $body-bg;
// fish--v4beta2-end

// fish--v4a6-newadd
// $table-inverse-bg:              $gray-dark;
// $table-inverse-color:           $body-bg;

// $table-inverse-bg-accent:       rgba($white, .05);
// $table-inverse-bg-hover:        rgba($white, .075);
// $table-inverse-bg-active:       $table-inverse-bg-hover;
// $table-inverse-border-color:    lighten($gray-dark, 7.5%);
// fish-end

// Background color used for `.table-striped`.
$table-accent-bg:               rgba($bg-color-base, (30/100));
// Background color used for `.table-hover`.
$table-hover-bg:                $bg-color-base;
$table-active-bg:               $table-hover-bg;

// fish--v4a6-newadd
$table-head-bg:                 $gray-lighter;
$table-head-color:              $gray;
// fish-end

// Border color for table and cell borders.
$table-border-width:            $border-width;
$table-border-color:            $border-color-base;

// Buttons
// =======
// For each of Bootstrap's buttons, define text, background and border color.
//
$input-btn-padding-x:       $padding-base-horizontal;
$input-btn-padding-y:       $padding-base-vertical;
$input-btn-line-height:     $line-height-base;

$input-btn-padding-x-sm:    $padding-small-horizontal;
$input-btn-padding-y-sm:    $padding-small-vertical;
$input-btn-line-height-sm:  $line-height-sm;

$input-btn-padding-x-lg:    $padding-large-horizontal;
$input-btn-padding-y-lg:    $padding-large-vertical;
$input-btn-line-height-lg:  $line-height-lg;

$btn-font-weight:                $font-weight-normal;

$btn-box-shadow:                 inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
$btn-active-box-shadow:          inset 0 3px 5px rgba(0,0,0,.125);

// v4beta2 add --start
$input-btn-focus-width:          2px;
$input-btn-focus-color:          rgba($brand-primary, .25);
$input-btn-focus-box-shadow:     0 0 0 $input-btn-focus-width $input-btn-focus-color;
// v4beta2 add --end

$btn-default-color:              $text-color;
$btn-default-bg:                 $color-grey-200;
$btn-default-border:             $btn-default-bg;
$btn-default-border-color:       $btn-default-border;
$btn-default-hover-bg:           $color-grey-100;
$btn-default-hover-border:       $btn-default-hover-bg;
$btn-default-active-bg:          $color-grey-300;
$btn-default-active-border:      $btn-default-active-bg;

$btn-primary-color:              $inverse;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             $btn-primary-bg;
$btn-primary-border-color:       $btn-primary-border;
$btn-primary-hover-bg:           $brand-primary-hover;
$btn-primary-hover-border:       $btn-primary-hover-bg;
$btn-primary-active-bg:          $brand-primary-active;
$btn-primary-active-border:      $btn-primary-active-bg;

$btn-success-color:              $inverse;
$btn-success-bg:                 $brand-success;
$btn-success-border:             $btn-success-bg;
$btn-success-border-color:       $btn-success-border;
$btn-success-hover-bg:           $brand-success-hover;
$btn-success-hover-border:       $btn-success-hover-bg;
$btn-success-active-bg:          $brand-success-active;
$btn-success-active-border:      $btn-success-active-bg;

$btn-info-color:                 $inverse;
$btn-info-bg:                    $brand-info;
$btn-info-border:                $btn-info-bg;
$btn-info-border-color:          $btn-info-border;
$btn-info-hover-bg:              $brand-info-hover;
$btn-info-hover-border:          $btn-info-hover-bg;
$btn-info-active-bg:             $brand-info-active;
$btn-info-active-border:         $btn-info-active-bg;

$btn-warning-color:              $inverse;
$btn-warning-bg:                 $brand-warning;
$btn-warning-border:             $btn-warning-bg;
$btn-warning-border-color:       $btn-warning-border;
$btn-warning-hover-bg:           $brand-warning-hover;
$btn-warning-hover-border:       $btn-warning-hover-bg;
$btn-warning-active-bg:          $brand-warning-active;
$btn-warning-active-border:      $btn-warning-active-bg;

$btn-danger-color:               $inverse;
$btn-danger-bg:                  $brand-danger;
$btn-danger-border:              $btn-danger-bg;
$btn-danger-border-color:        $btn-danger-border;
$btn-danger-hover-bg:            $brand-danger-hover;
$btn-danger-hover-border:        $btn-danger-hover-bg;
$btn-danger-active-bg:           $brand-danger-active;
$btn-danger-active-border:       $btn-danger-active-bg;

$btn-dark-color:                 $inverse;
$btn-dark-bg:                    $brand-dark;
$btn-dark-border:                $btn-dark-bg;
$btn-dark-border-color:          $btn-dark-border;
$btn-dark-hover-bg:              $brand-dark-hover;
$btn-dark-hover-border:          $btn-dark-hover-bg;
$btn-dark-active-bg:             $brand-dark-active;
$btn-dark-active-border:         $btn-dark-active-bg;

$btn-link-disabled-color:        $gray;

$btn-block-spacing-y:            pxToRem(8px);//5px;
$btn-toolbar-margin:             pxToRem(8px);//5px;

// $split-btn-dropdown-toggle-padding-x:     8px;
// $split-btn-lg-dropdown-toggle-padding-x: 12px;


// Allows for customizing button radius independently from global border radius
$btn-border-radius:              $border-radius;
$btn-border-radius-lg:           $border-radius-lg;
$btn-border-radius-sm:           $border-radius-sm;

$btn-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

// Forms
// =====
//
$input-bg:                       $inverse;
$input-disabled-bg:              $gray-lightest;

$input-color:                    $text-color;
$input-border-color:             $border-color-base;
$input-border:                   $input-border-color !default;// v4a && v4b removed

$input-btn-border-width:         $border-width; // For form controls and buttons

$input-border-width:             $border-width;
$input-box-shadow:               inset 0 1px 1px rgba(0,0,0,.075);

$input-border-radius:            $border-radius;
$input-border-radius-lg:         $border-radius-lg;
$input-border-radius-sm:         $border-radius-sm;

$input-focus-bg:                 $input-bg;
$input-focus-border-color:       $brand-primary;
$input-focus-box-shadow:         $input-box-shadow, 0 0 8px rgba(102, 175, 233, .6)s;//v4beta2 removeit
$input-focus-color:              $input-color;

$input-placeholder-color:        $prompt-color;

$input-border-radius-large:      $border-radius-lg;
$input-border-radius-small:      $border-radius-sm;

$input-height-border:            $input-btn-border-width * 2;
$input-height-inner:             ($font-size-base * $input-btn-line-height) + ($input-btn-padding-y * 2);
$input-height:                   calc(#{$input-height-inner} + #{$input-height-border});
$input-height-inner-sm:          ($font-size-sm * $input-btn-line-height-sm) + ($input-btn-padding-y-sm * 2);
$input-height-sm:                calc(#{$input-height-inner-sm} + #{$input-height-border});
$input-height-inner-lg:          ($font-size-sm * $input-btn-line-height-lg) + ($input-btn-padding-y-lg * 2);
$input-height-lg:                calc(#{$input-height-inner-lg} + #{$input-height-border});

// for v3 plugin
//** Default `.form-control` height
$input-height-base:              (pxToRem($line-height-computed) + ($input-btn-padding-y * 2) + pxToRem($input-height-border));//($line-height-computed + ($input-padding-y * 2) + 2);
//** Large `.form-control` height
$input-height-large:             (pxToRem(ceil(17.5px * $line-height-large)) + ($padding-large-vertical * 2) + pxToRem($input-height-border));//(ceil(17.5px * $line-height-large) + ($padding-large-vertical * 2) + 2);
//** Small `.form-control` height
$input-height-small:             (pxToRem(floor(11.9px * $line-height-small)) + ($padding-small-vertical * 2) + pxToRem($input-height-border));//(floor(11.9px * $line-height-small) + ($padding-small-vertical * 2) + 2);

$input-height:                   (pxToRem($line-height-computed) + ($input-btn-padding-y * 2) + pxToRem($input-height-border));
$input-height-lg:                (($font-size-lg * $input-btn-line-height-lg) + ($input-btn-padding-y-lg * 2) + pxToRem($input-height-border));
$input-height-sm:                (($font-size-sm * $input-btn-line-height-sm) + ($input-btn-padding-y-sm * 2) + pxToRem($input-height-border));

// --fish--v4a6-newadd
$input-transition:               border-color ease-in-out .15s, box-shadow ease-in-out .15s;

$form-text-margin-top:           pxToRem(4px);

$form-check-margin-bottom:       pxToRem(8px);
$form-check-input-gutter:        pxToRem(20px);
$form-check-input-margin-y:      4px;//pxToRem(4px);
$form-check-input-margin-x:      4px;//pxToRem(4px);

$form-check-inline-margin-x:     pxToRem(12px);
// --fish--v4a6-end

//** `.form-group` margin
$form-group-margin-bottom:       pxToRem(20px); // ~20px

$legend-color:                   inherit;
$legend-border-color:            transparent;

$input-group-addon-color:        $input-color;
$input-group-addon-bg:           $gray-lightest;
$input-group-addon-border-color: $input-border-color;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                not-allowed;

$form-control-default-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
$form-control-focus-box-shadow: $form-control-default-box-shadow, 0 0 8px fade($input-focus-border-color, 0.6);
$form-control-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

// Form validation (v4b1 add)
$form-feedback-valid-color:      $brand-success;
$form-feedback-invalid-color:    $brand-danger;

// Dropdowns
// =========
// Dropdown menu container and contents.
//
//** Background for the dropdown menu.

$dropdown-min-width:             160px;
$dropdown-padding-y:             5px;
$dropdown-spacer:                5px; // v4b1 rename from $dropdown-margin-top

$dropdown-bg:                    #fff;
$dropdown-border-color:          $border-color-base;
$dropdown-border-width:          $border-width;
$dropdown-divider-bg:            $divider-color-base;

$dropdown-box-shadow:            0 3px 12px rgba(0, 0, 0, 0.05); // 0 6px 12px rgba(0,0,0,.175)


$dropdown-border:                $dropdown-border-color;

//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       #ccc;//for v3 plugin:typeahead-js

//** Dropdown link text color.
$dropdown-link-color:            $text-color;
$dropdown-link-hover-color:      $text-color;
$dropdown-link-hover-bg:         $bg-color-base;

//** Active dropdown menu item.
$dropdown-link-active-color:     $text-color;//$component-active-color;
$dropdown-link-active-bg:        $bg-color-base;//$component-active-bg;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   $disabled-color-base;

$dropdown-item-padding-x:        pxToRem(13px);
$dropdown-item-padding-y:        pxToRem(6px);
$dropdown-item-border-radius: $border-radius !default;

$dropdown-link-padding:          $dropdown-item-padding-y $dropdown-item-padding-x;
$dropdown-item-border-radius:    $border-radius;
$dropdown-link-border-radius:    $dropdown-item-border-radius;

//** Text color for headers within dropdown menus.
$dropdown-header-color:          $title-color;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:           $text-color;
$dropdown-menu-shadow:           0 1px 4px 0 rgba(0,0,0,.10);
$dropup-menu-shadow:             0 -1px 4px 0 rgba(0,0,0,.10);

// Z-index master list
// ===================
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.
//
//$zindex-navbar:            1000;
//$zindex-dropdown:          1000;
//$zindex-popover:           1060;
//$zindex-tooltip:           1070;
//$zindex-navbar-fixed:      1030;
//$zindex-navbar-sticky
//$zindex-modal-background:  1040;
//$zindex-modal:             1050;

$zindex-fullscreen:       9999;
$zindex-tooltip:          1900;
$zindex-popover:          1800;

$zindex-modal:            1700;

$zindex-modal-bg:         1600;// v4a6-rename zindex-modal-backdrop
$zindex-modal-backdrop:    1600;// v4a6-add

$zindex-navbar-fixed:     1500;// v4a6-remove or rename
$zindex-navbar-sticky:    $zindex-navbar-fixed;// v4a6-remove or rename
$zindex-fixed:            1500; // v4a6-add
$zindex-sticky:           $zindex-fixed; // v4a6-add

$zindex-menubar:          1400;// v4a6-remove
$zindex-overlay:          1300;// v4a6-remove

$zindex-dropdown:         1200;
$zindex-navbar:           1200;

$zindex-dropdown-backdrop: 1000;


$zindex-header:           1100;
$zindex-footer:           1000;

$zindex-base:             1;
$zindex-init:             0;
$zindex-below:           -1;

$zindex-modal-background: $zindex-modal-bg;// for v3

// Navs
// ====
// nav & nav-tab & nav-pills
//

$nav-item-margin:                                 2px; // .2rem
$nav-item-inline-spacer:                          1rem;

$nav-padding-vertical:                            pxToRem(10px);

// $nav-link-padding-y:                              .5rem;
// $nav-link-padding-x:                              1rem;

$nav-link-padding:                                $nav-padding-vertical pxToRem(20px); // $nav-padding-vertical pxToRem(15px)
$nav-link-hover-bg:                               $bg-color-base;

$nav-link-disabled-color:                         $gray;
$nav-link-disabled-hover-color:                   $gray !default;
$nav-link-disabled-hover-bg:                      transparent !default;

// Tabs
$nav-tabs-border-color:                           $divider-color-base;
$nav-tabs-border-width:                           $border-width;
$nav-tabs-border-radius:                          $border-radius;

$nav-tabs-link-hover-border-color:                transparent;
$nav-tabs-link-border-width:                      $border-width;

$nav-tabs-link-active-hover-bg:                   $brand-primary !default; // $body-bg,$brand-primary
$nav-tabs-link-active-hover-color:                $inverse !default; // $link-active-color
$nav-tabs-link-active-hover-border-color:         $border-color-base !default;

$nav-tabs-link-active-color:                      $nav-tabs-link-active-hover-color;
$nav-tabs-link-active-bg:                         $nav-tabs-link-active-hover-bg;
$nav-tabs-link-active-border-color:               $nav-tabs-link-active-hover-border-color;

// Pills
$nav-pills-border-radius:                         $border-radius;
$nav-pills-link-active-color:                     $component-active-color;
$nav-pills-link-active-bg:                        $brand-primary;

// Navbar
// ======
//
// Basics of a navbar
$navbar-height:                           pxToRem(66px);

$navbar-border-radius:                    $border-radius;

$navbar-padding-x:                        ($grid-gutter-width / 2);
$navbar-padding-y:                        (($navbar-height - pxToRem($line-height-computed)) / 2);
$navbar-brand-padding-y:                  4px;

$navbar-toggler-padding-x:                .75rem;
$navbar-toggler-padding-y:                .25rem;
$navbar-toggler-font-size:                $font-size-lg;
$navbar-toggler-border-radius:            $btn-border-radius;

$navbar-inverse-color:                    rgba($white,.5);
$navbar-inverse-hover-color:              rgba($white,.75);
$navbar-inverse-active-color:             rgba($white,1);
$navbar-inverse-disabled-color:           rgba($white,.25);
$navbar-inverse-toggler-bg:               str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-inverse-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23");
$navbar-inverse-toggler-border:           rgba($white,.1);// v4a6-newadd
$navbar-inverse-toggler-border-color:     $navbar-inverse-toggler-border;

// $navbar-dark-color:                       rgba(255,255,255,.5);
// $navbar-dark-hover-color:                 rgba(255,255,255,.75);
// $navbar-dark-active-color:                rgba(255,255,255,1);
// $navbar-dark-disabled-color:              rgba(255,255,255,.25);
// $navbar-dark-toggler-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23");
// $navbar-dark-toggler-border-color:  rgba($white,.1);

$navbar-light-color:                      rgba(0,0,0,.3);
$navbar-light-hover-color:                rgba(0,0,0,.6);
$navbar-light-active-color:               rgba(0,0,0,.8);
$navbar-light-disabled-color:             rgba(0,0,0,.15);
$navbar-light-toggler-icon-bg:            str-replace(url("data:image/svg+xml;charset=utf8, %3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23");
// v4b rename $navbar-light-toggler-bg:                 str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23");
$navbar-light-toggler-border:             rgba($black,.1);// v4a6-newadd
$navbar-light-toggler-border-color:       $navbar-light-toggler-border;

$navbar-collapse-max-height:              pxToRem(340px);

$navbar-brand-padding-horizontal:         pxToRem(20px);
$navbar-brand-logo-height:                pxToRem(32px);

$navbar-default-color:                    $text-color;
$navbar-default-bg:                       $inverse;
$navbar-default-border:                   $border-color-base;

// Navbar links
$navbar-default-link-color:               $text-color;
$navbar-default-link-hover-color:         $gray-darker;
$navbar-default-link-hover-bg:            rgba($gray-lightest, (30/100));
$navbar-default-link-active-color:        $navbar-default-link-hover-color;
$navbar-default-link-active-bg:           rgba($gray-lightest, (60/100));
$navbar-default-link-disabled-color:      $disabled-color-base;
$navbar-default-link-disabled-bg:         transparent;

// Navbar brand label
$navbar-default-brand-color:              $title-color;
$navbar-default-brand-hover-color:        $navbar-default-brand-color;
$navbar-default-brand-hover-bg:           none;

// Navbar toggle
$navbar-default-toggle-hover-bg:          $navbar-default-link-hover-bg;
$navbar-default-toggle-icon-bar-bg:       $navbar-default-color;
$navbar-default-toggle-border-color:      transparent;

// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                     $inverse;
$navbar-inverse-bg:                        $brand-primary;
$navbar-inverse-border:                    rgba(0, 0, 0, .1);

// Inverted navbar links
$navbar-inverse-link-color:                $inverse;
$navbar-inverse-link-hover-color:          $inverse;
$navbar-inverse-link-hover-bg:             rgba(0, 0, 0, .1);
$navbar-inverse-link-active-color:         $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg:            $navbar-inverse-link-hover-bg;
$navbar-inverse-link-disabled-color:       $inverse;
$navbar-inverse-link-disabled-bg:          transparent;

// Inverted navbar brand label
$navbar-inverse-brand-color:               $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color:         $inverse;
$navbar-inverse-brand-hover-bg:            none;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:           $navbar-inverse-link-hover-bg;
$navbar-inverse-toggle-icon-bar-bg:        $inverse;
$navbar-inverse-toggle-border-color:       transparent;

// Navbar Small
$navbar-small-height:                      pxToRem(60px);
$navbar-small-padding-vertical:            (($navbar-small-height - pxToRem($line-height-computed)) / 2);

// Pagination
// ==========
//
$pagination-padding-x:                 pxToRem(15px);
$pagination-padding-y:                 pxToRem(9px);
$pagination-padding-x-sm:              pxToRem(11px);
$pagination-padding-y-sm:              $padding-small-vertical;
$pagination-padding-x-lg:              pxToRem(17px);
$pagination-padding-y-lg:              $padding-large-vertical;
$pagination-line-height:               $line-height-base;

$pagination-color:                     $text-color;
$pagination-bg:                        transparent;
$pagination-border-width:              $border-width;
$pagination-border-color:              $border-color-base;

$pagination-border:                    $pagination-border-color;

$pagination-hover-color:               $link-hover-color;
$pagination-hover-bg:                  $bg-color-base;
$pagination-hover-border:              $border-color-base;// for v3
$pagination-hover-border-color:        $border-color-base;

$pagination-active-color:              $inverse;
$pagination-active-bg:                 $brand-primary;
$pagination-active-border:             $pagination-active-bg;// for v3
$pagination-active-border-color:       $pagination-active-bg;

$pagination-disabled-color:            $gray-light;
$pagination-disabled-bg:               transparent;
$pagination-disabled-border:           $border-color-base;// for v3
$pagination-disabled-border-color:     $border-color-base;

// Jumbotron
// =========
//
$jumbotron-padding:              pxToRem(20px);
$jumbotron-bg:                   $gray-lighter;

$jumbotron-color:                inherit;
$jumbotron-heading-color:        inherit;
$jumbotron-font-size:            ceil(($font-size-base * 1.5));
$jumbotron-heading-font-size:    ceil(($font-size-base * 4.5));

// Form states and alerts
// ======================
// Define colors for form feedback states and, by default, alerts.
//
$form-success-text:              $brand-success;
$form-info-text:                 $brand-info;
$form-warning-text:              $brand-warning;
$form-danger-text:               $brand-danger;

$form-success-bg:                $inverse;
$form-info-bg:                   $inverse;
$form-warning-bg:                $inverse;
$form-danger-bg:                 $inverse;

$state-success-text:             $inverse;
$state-success-bg:               $brand-success;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%);
$state-success-border-color:     $state-success-border;

$state-info-text:                $inverse;
$state-info-bg:                  $brand-info;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%);
$state-info-border-color:        $state-info-border;

$state-warning-text:             $inverse;
$state-warning-bg:               $brand-warning;

$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 3%);
$state-warning-border-color:     $state-warning-border;

$state-danger-text:              $inverse;
$state-danger-bg:                $brand-danger;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 3%);
$state-danger-border-color:      $state-danger-border;

$state-dark-text:                $inverse;
$state-dark-bg:                  $brand-dark;
$state-dark-border:              darken(adjust-hue($state-dark-bg, -10), 3%);
$state-dark-border-color:        $state-dark-border;

// Cards
// =====
//
$card-spacer-x:            pxToRem(20px);
$card-spacer-y:            pxToRem(12px);
$card-border-width:        1px;
$card-border-radius:       $border-radius;
$card-border-color:        $border-color-base;
$card-inner-border-radius: calc(#{$card-border-radius} - #{$card-border-width});
$card-cap-bg:              $gray-lightest;
$card-bg:                  #fff;

$card-link-hover-color:    #fff;

$card-img-overlay-padding: pxToRem(20px);//20px 1.25*16

$card-group-margin:        pxToRem(10px);//.625rem;
$card-deck-margin:         $card-group-margin;//.625rem;

$card-columns-count:        3;
$card-columns-gap:          pxToRem(20px);//1.25rem;
$card-columns-margin:       $card-spacer-y;

$card-columns-sm-up-column-gap: pxToRem(20px);//1.25rem; // v4a6-rename to $card-columns-gap

// card spacer size
$card-sm-spacer-x: pxToRem(15px);
$card-sm-spacer-y: $card-spacer-y;
$card-md-spacer-x: pxToRem(25px);
$card-md-spacer-y: pxToRem(30px);
$card-lg-spacer-x: pxToRem(30px);
$card-lg-spacer-y: pxToRem(30px);

// Tooltips
// ========
//
//** Tooltip max width
$tooltip-max-width:           200px;
//** Tooltip text color
$tooltip-color:               $inverse;
//** Tooltip background color
$tooltip-bg:                  rgba(0, 0, 0, .8);
$tooltip-opacity:             .9;

$tooltip-padding-y:           6px; // 3px
$tooltip-padding-x:           12px; // 8px
$tooltip-margin:              3px;


//** Tooltip arrow width
$tooltip-arrow-width:         4px;
$tooltip-arrow-height:        4px;
//** Tooltip arrow color
$tooltip-arrow-color:         $tooltip-bg;

// Popovers
// ========
//
// $popover-inner-padding: 1px;//v4beta2 remove it
$popover-bg:                          $inverse;
$popover-max-width:                   276px;
$popover-border-color:                rgba($gray-light, (80/100));
$popover-border-width:                $border-width;

//** Popover fallback border color
$popover-fallback-border-color:       $gray-lighter;

//** Popover title background color
$popover-header-bg:                   $bg-color-base;//darken($popover-bg, 3%);
$popover-header-color:                $headings-color;
$popover-header-padding-y:            8px;
$popover-header-padding-x:            14px;
$popover-body-color:                  $body-color;
$popover-body-padding-y:              20px;
$popover-body-padding-x:              20px;

//** Popover arrow
$popover-arrow-width:                 8px;
$popover-arrow-height:                4px;
$popover-arrow-color:                 $popover-bg;

//** Popover outer arrow
$popover-arrow-outer-width:           ($popover-arrow-width + 1);
// $popover-arrow-outer-color: fade-in($popover-border-color, .05);
$popover-arrow-outer-color:           $popover-border-color;

//** Popover outer arrow fallback color
$popover-arrow-outer-fallback-color:  darken($popover-fallback-border-color, 20%);

$popover-box-shadow:                  0 5px 10px rgba(0,0,0,.2);

$popover-shadow:                      0 2px 6px rgba(0, 0, 0, .05);

// Badges
// ====
//
$badge-default-bg:            $brand-default;
$badge-primary-bg:            $brand-primary;
$badge-success-bg:            $brand-success;
$badge-info-bg:               $brand-info;
$badge-warning-bg:            $brand-warning;
$badge-danger-bg:             $brand-danger;

$badge-color:                 #fff;
// $badge-link-hover-color:      #fff;// v4b removed
$badge-font-size:             75%;
$badge-font-weight:           $font-weight-normal; // bold
$badge-padding-x:             .6em; // .4em
$badge-padding-y:             .25em;

$badge-border-radius:         $border-radius;//beta2 add

$badge-pill-padding-x:        .6em;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
$badge-pill-border-radius:    10rem;

// Modals
// ======
//
// Padding applied to the modal body
$modal-inner-padding:         20px; // 15px

$modal-dialog-margin:         10px;
$modal-dialog-margin-y-sm-up: 30px;

$modal-title-padding:         15px 20px;
$modal-title-line-height:     $line-height-base;

$modal-content-bg:                             #fff;
$modal-content-border-color:                   transparent;

$modal-content-border-width:     $border-width;

$modal-content-box-shadow-xs:    0 2px 12px rgba($black, .2); // 0 3px 9px rgba($black,.5)
$modal-content-box-shadow-sm-up: 0 2px 12px rgba($black, .2); // 0 5px 15px rgba($black,.5);

//** Modal content border color **for IE8**
$modal-content-fallback-border-color:          #999;

$modal-backdrop-bg:           #000;
$modal-backdrop-opacity:      .5;
$modal-header-border-color:   $border-color-base;
$modal-footer-border-color:   $modal-header-border-color;
$modal-header-border-width:   $modal-content-border-width;
$modal-footer-border-width:   $modal-header-border-width;

$modal-header-padding:        15px; //v4a6 newadd

$modal-content-shadow:        0 1px 4px 0 rgba(0,0,0,.1);

$modal-lg:                    900px;
$modal-md:                    600px;
$modal-sm:                    300px;

$modal-transition:            transform .3s ease-out; //v4a6 newadd

// Alerts
// ======
// Define alert colors, border radius, and padding.
//

$alert-padding:               15px;

$alert-padding-x:             pxToRem(20px);//1.25rem;
$alert-padding-y:             12px;// .75rem;
$alert-margin-bottom:         $spacer; //// v4a6 newadd

$alert-border-radius:         $border-radius;
$alert-link-font-weight:      $font-weight-bold;
$alert-border-width:          $border-width;

$alert-primary-bg:            rgba($brand-primary-100, (80/100));
$alert-primary-text:          $brand-primary;
$alert-primary-border:        $brand-primary-100;
$alert-primary-border-color:  $alert-primary-border;

$alert-success-bg:            rgba($brand-success-100, (80/100));
$alert-success-text:          $brand-success;
$alert-success-border:        $brand-success-100;
$alert-success-border-color:  $alert-success-border;

$alert-info-bg:               rgba($brand-info-100, (80/100));
$alert-info-text:             $brand-info;
$alert-info-border:           $brand-info-100;
$alert-info-border-color:     $alert-info-border;

$alert-warning-bg:            rgba($brand-warning-100, (80/100));
$alert-warning-text:          $brand-warning;
$alert-warning-border:        $brand-warning-100;
$alert-warning-border-color:  $alert-warning-border;

$alert-danger-bg:             rgba($brand-danger-100, (80/100));
$alert-danger-text:           $brand-danger;
$alert-danger-border:         $brand-danger-100;
$alert-danger-border-color:   $alert-danger-border;

// Progress bars
// =============
//
$progress-bg:                 $brand-default;
$progress-bar-color:          #fff;
$progress-border-radius:      $border-radius;
$progress-box-shadow:         inset 0 .1rem .1rem rgba(0,0,0,.1) ;

$progress-bar-bg:             $brand-primary;
$progress-bar-success-bg:     $brand-success;
$progress-bar-warning-bg:     $brand-warning;
$progress-bar-danger-bg:      $brand-danger;
$progress-bar-info-bg:        $brand-info;

// v4a6 for rebulid progress bars
// $progress-height:               1rem;
// $progress-font-size:            .75rem;
// $progress-bg:                   $gray-lighter;
// $progress-border-radius:        $border-radius;
// $progress-box-shadow:           inset 0 .1rem .1rem rgba($black,.1);
// $progress-bar-color:            $white;
// $progress-bar-bg:               $brand-primary;
// $progress-bar-animation-timing: 1s linear infinite;
// v4a6 -end

// List group
// ==========
//
$list-group-color:              $body-color;// v4a6 newadd
$list-group-bg:                 #fff;
$list-group-border-color:       transparent;
$list-group-border-width:       $border-width;
$list-group-border-radius:      $border-radius;

$list-group-item-padding-x:     1.25rem;
$list-group-item-padding-y:     .75rem;

// for v3-
$list-group-border:             $list-group-border-color;

$list-group-hover-bg:           $bg-color-base;
$list-group-active-color:       $brand-primary;
$list-group-active-bg:          transparent;
$list-group-active-border:      $list-group-active-bg;
$list-group-active-border-color:$list-group-active-bg;
$list-group-active-text-color:  lighten($list-group-active-color, 40%);

$list-group-disabled-color:      $disabled-color-base;
$list-group-disabled-bg:         transparent;
$list-group-disabled-text-color: $list-group-disabled-color;

$list-group-action-color:         $text-color;
$list-group-action-hover-color:   $text-color;
$list-group-action-heading-color: $title-color;
$list-group-action-active-color:  $body-color;
$list-group-action-active-bg:     $gray-lighter;

// Wells
// =====
//
$well-bg:                     $gray-lightest;
$well-border:                 $gray-lighter;

// Image thumbnails
// ================
//
$thumbnail-padding:           .25rem;
$thumbnail-bg:                $body-bg;
$thumbnail-border-width:      $border-width;
$thumbnail-border-color:      #ddd;
$thumbnail-border-radius:     $border-radius;
$thumbnail-box-shadow:        0 1px 2px rgba($black,.075);
$thumbnail-transition:        all .2s ease-in-out;

// Figures
$figure-caption-font-size:    90%;
$figure-caption-color:        $gray-light;//v4a6 newadd

// Breadcrumbs
// ===========
//
$breadcrumb-padding-vertical:   pxToRem(8px);
$breadcrumb-padding-horizontal: pxToRem(10px);

$breadcrumb-padding-y:          .75rem;
$breadcrumb-padding-x:          1rem;
$breadcrumb-item-padding:       .5rem;

$breadcrumb-margin-bottom:      1rem;//v4beta2 add

//** Breadcrumb background color
$breadcrumb-bg:                 transparent;
$breadcrumb-divider-color:      $gray-light;
$breadcrumb-active-color:       $text-color;
$breadcrumb-divider:            "/";

$breadcrumb-color:              $link-color;
// for v3
$breadcrumb-separator:          $breadcrumb-divider;

// Media objects (a3 new add)
// =============
//
$media-margin-top:            15px;
$media-heading-margin-bottom:  5px;
$media-alignment-padding-x:   20px; // 10px

// Carousel
// ========
//
$carousel-text-shadow:            0 1px 2px rgba(0, 0, 0, .6);

$carousel-control-color:          #fff;
$carousel-control-width:          15%;

$carousel-control-opacity:        0;

$carousel-control-sm-up-size:     30px;
$carousel-control-font-size:      16px;

$carousel-indicator-size:         10px;
$carousel-indicator-active-size:  12px;
$carousel-indicator-border-color: #fff;

$carousel-indicator-width:        10px;
$carousel-indicator-height:       10px;
$carousel-indicator-spacer:       3px;
$carousel-indicator-active-bg:    #fff;


$carousel-caption-width:          70%;
$carousel-caption-color:          #fff;
$carousel-caption-sm-up-width:    60%;

// v4a6 rename it to control-icon-width,as follow;
$carousel-icon-width:             20px;
$carousel-control-icon-width:     30px;

$carousel-control-prev-icon-bg:   str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"), "#", "%23") !default;
$carousel-control-next-icon-bg:   str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"), "#", "%23") !default;

$carousel-transition:             transform .6s ease-in-out;

// Close
// =====
//
$close-font-size:             $font-size-base * 1.5; //v4a6-newadd
$close-font-weight:           $font-weight-bold;
$close-color:                 #000;
$close-text-shadow:           none;

// Code
// ====
//

$code-font-size:              90%;
$code-padding-x:              .3rem;
$code-padding-y:              .15rem;


$code-color:                  mix($color-primary-800, $text-color, 50%);
$code-bg:                     rgba($color-primary-100, (10/100));
$code-border-color:           $color-primary-100;

$kbd-color:                   $inverse;
$kbd-bg:                      $brand-primary;

$pre-bg:                      $inverse;
$pre-color:                   inherit;
$pre-border-color:            mix($brand-primary, $inverse, 12%);
$pre-scrollable-max-height:   340px;

// Shadow
// ======
//
// shadow-1
$shadow-1-top:    0 0 1px rgba(0, 0, 0, .2);
$shadow-1-bottom: 0 1px 2px rgba(0, 0, 0, .22);
// shadow-2
$shadow-2-top:    0 0 2px rgba(0, 0, 0, .18);
$shadow-2-bottom: 0 2px 4px rgba(0, 0, 0, .21);
// shadow-3
$shadow-3-top:    0 0 3px rgba(0, 0, 0, .15);
$shadow-3-bottom: 0 3px 6px rgba(0, 0, 0, .2);
// shadow-4
$shadow-4-top:    0 0 5px rgba(0, 0, 0, .12);
$shadow-4-bottom: 0 5px 8px rgba(0, 0, 0, .18);
// shadow-5
$shadow-5-top:    0 0 6px rgba(0, 0, 0, .1);
$shadow-5-bottom: 0 6px 10px rgba(0, 0, 0, .15);

// avatar
// ======
//
$avatar-size:            40px;
$avatar-status-size:     10px;

$avatar-size-sm:         30px;
$avatar-status-size-sm:  8px;

$avatar-size-lg:         50px;
$avatar-status-size-lg:  12px;

$avatar-size-xs:         20px;
$avatar-status-size-xs:  7px;
